<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <h1>SELAMAT DATANG DI LaKlin</h1>

    <% if(userSession == undefined) { %>
      <button onclick="window.location='/login'">Sign In</button>
    <% } else { %>
      <button onclick="window.location='/dashboard'">Dashboard</button>
    <% }
    %>
  </body>
</html>
